<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atendente</title>
</head>
<body>

  <mat-card class="example-card">
    <mat-card-content>
      <p>10/04/2021 - 9h34min</p>
      <p>De atendente [ {{pessoas.atendente}} ] para cliente [ {{pessoas.cliente}} ]: {{atendenteAoCliente}} </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-content >
      <p>10/04/2021 - 10h12min</p>
      <p>De atendente [ {{pessoas.atendente}} ] para gerente [ {{pessoas.gerente}} ]: {{atendenteAoGerente}} </p>
    </mat-card-content>
  </mat-card>

</body>
</html>
